#btnLogar {
  border: 0;
  border-radius: 0.5rem !important;
  padding: 1.2rem 1.6rem !important;
  font-size: 1.6rem !important;
  white-space: nowrap !important;
}

.card {
  border-radius: 0.5rem !important;
}

.row .col-12 {
  margin-bottom: 5px;
}

.col-12 a {
  font-size: 1.4rem;
  color: #000000;
}

.col-12 a:hover {
  text-decoration: underline;
  color: #000000;
}
