#toTopButton {
  position: fixed;
  bottom: 60px;
  right: 0;
  z-index: 2000;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  outline: none;
  background: #000000;
  color: white;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s;
}

svg {
  vertical-align: -0.125em !important;
}

#toTopButton:hover {
  background-color: #404040;
}
